@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, sans-serif;
}

body {

}
.hero {
    background-color: #1F2937;
    padding: 0 80px;
    display:flex;
    flex-direction: column;
    color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2em;
}

a {
    text-decoration: none;
    color:white;
}

.header-logo {
    font-size: 2.5em;
    font-weight: 800;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.hero-right {
    display: flex;
    justify-items: center;
    align-self: center;
}

button {
    padding: 5px;
    border-radius: 10px;
    font-family: inherit;
    background-color: #3882F6;
    width: 6em;
    margin-top: 5px;
    align-self:flex-start;
    color: white;
    flex-shrink: 0;
    font-weight: 600;
}

button:hover {
    background-color:limegreen;
    transform: scale(1.2, 1.2);
    cursor: pointer;
}

h3 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: black;
}

content {
    padding: 0 80px;
    background-color: whitesmoke;
}
.illustration-container {
    display:flex;
    padding: 0 80px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    gap: 18px;
    flex: 1;
}
.image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    text-align: center;

}
.illustration {
    height: 100px;
    width: 100px;
    border: 8px solid rgba(21, 108, 158, 0.651);
    border-radius: 10px;
    gap: 18px;
}

.text {
    color: black;
    text-wrap: wrap;
}

.hook {
    display: flex;
    flex-direction: column;
    padding: 30px 80px;
    background-color: gray;
    font-style: italic;
    font-size: 1.5em;
}

.quote,
p {
    text-wrap:wrap;
    text-align: left;
    align-self: flex-start;
    font-size: 1.1em;

}

.quote,
b{
    text-align: right;
    text-wrap: nowrap;
    align-self: flex-end;


}
.h4 {
    color: black;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
}

.cta-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #3882F6;
    color: whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
    text-wrap: wrap;
    padding: 15px 40px;
    margin-bottom: 20px;
}

.cta {
    font-weight: 700;
}

footer {
    background-color:#1F2937;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
}